{
    "label": "{{ job_label }}",
    "iterations": {{ iteration }},
    "parallel": "{{ parallel }}",
    "backoff": "PT1S",
    "task": {
        "reference" : {
            "tasks" : [
                {% for test in tests %}
                {
                    "schema": 2,
                    "test": {
                        "type" : "{{ test.type }}",
                        "spec" : {
                            {% for key, value in test.spec.items() %}
                                "{{ key }}": 
                                {% if value is string %}
                                    "{{ value }}"
                                {% else %}
                                    {{ value }}
                                {% endif %}
                                {% if not loop.last %},{% endif %}
                            {% endfor %}
                        }
                    },
                    "contexts": {
                        {% if test.type == 'throughput' %}
                            "schema": 1,
                            "contexts": [
                                [
                                    {
                                        "context": "linuxnns",
                                        "data": {
                                            "namespace": "pssid_{{interface}}"
                                        }
                                    }
                                ],
                                []
                            ]
                        {% else %}
                            "schema": 1,
                            "contexts": [
                                [
                                    {
                                        "context": "linuxnns",
                                        "data": {
                                            "namespace": "pssid_{{interface}}"
                                        }
                                    }
                                ]
                            ]
                        {% endif %}
                    },
                    "archives": [
                        {
                            "archiver": "syslog",
                            "data": {
                                "ident": "pssid",
                                "facility": "{{facility}}",
                                "priority": "info"
                            }
                        }
                    ]
                    
                }{% if not loop.last %},{% endif %}
                {% endfor %}
            ]
        }
    },
    "continue-if": {
        "script": "{{ continue_if }}"
    },
    "task-transform": {
        "script": [
            "# Replace the entire task section with one of the",
            "# tasks in the reference block based on the iteration.",
            ". = .reference.tasks[$iteration]"
        ]
    }
}